In [21]:
%load_ext nb_black

In [65]:
import pymc3 as pm
import theano.tensor as tt
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import pandas as pdb

from plotnine import *

In [23]:
policies = pd.read_csv("../cantwait_data.csv")
policies.head()

                                 policy  existing adherents   n  reduction
0                  require deescalation                  34  91       0.15
1         use force continuum or matrix                  77  91       0.19
2                        restrict holds                  21  91       0.22
3                       require warning                  56  91       0.05
4  prohibit shooting at moving vehicles                  19  91       0.08

In [26]:
name_map = {'St. Paul':'St Paul',
            'Saint Paul':'St Paul',
            'St. Petersburg':'St Petersburg',
            'Saint Petersburg':'St Petersburg',
            'St. Louis':'St Louis',
            'Saint Louis':'St Louis'}

In [28]:
city_state_only = {'Arlington':'TX',
                    'Aurora':'CO',
                'Austin' :'TX',
                'Aurora' :'CO',
                'Boston' :'MA',
                'Buffalo' :'NY',
                'Cleveland' :'OH',
                'Columbus' :'OH',
                'Dallas' :'TX',
                'Durham' :'NC',
                'Glendale' :'AZ',
                'Greensboro' :'NC',
                'Henderson' :'NV',
                'Houston' :'TX',
                'Jacksonville' :'FL',
                'Kansas City' :'MO',
                'Las Vegas' :'NV',
                'Lexington' :'KY',
                'Lincoln' :'NE',
                'Louisville' :'KY',
                'Madison' :'WI',
                'Mesa' :'AZ',
                'Miami' :'FL',
                'Nashville' :'TN',
                'Newark' :'NJ',
                'Norfolk' :'VA',
                'Orlando' :'FL',
                'Phoenix' :'AZ',
                'Portland' :'OR',
                'Reno' :'NV',
                'Rochester' :'NY',
                'Stockton' :'CA'
                  }

In [58]:
deaths_raw = pd.read_csv("../MPV_data.csv", dtype={'city':'str', 'state':'str'}, parse_dates  = ['date'])

cityname_mask = deaths_raw.city.isin(name_map.keys())
deaths_raw.loc[cityname_mask, 'city'] = deaths_raw.loc[cityname_mask, 'city'].map(name_map)

for city, state in city_state_only.items():
    deaths_raw.loc[(deaths_raw.city == city) & (deaths_raw.state == state), 'city'] = "NA"

In [59]:
deaths_DOJ = pd.read_csv('../custody_deaths.csv')
deaths_DOJ.head()

        state  num_deaths  pct_confirmed  pct_media  pct_survey   pop2010
0     Alabama         7.0           85.7      100.0         0.0   4779736
1      Alaska         0.0            NaN        NaN         NaN    710231
2    Arkansas         1.0          100.0      100.0         0.0   2915918
3     Arizona        10.0          100.0       90.0        10.0   6392017
4  California        65.0           87.7       92.3         7.7  37253956

In [60]:
cities = pd.read_csv('../policies_by_city.csv')
cities = cities[cities.state !='DC']
cities

,city,state,pop2010,black_pop2010,white_pop2010,require deescalation,use force continuum or matrix,restrict holds,require warning,prohibit shooting at moving vehicles,require exhaustion of alternatives,require officer intervention,require reporting,deaths2016
0,Albuquerque,New Mexico,545852,17933,380552,1,1,0,1,1,0,1,0,5
1,Anaheim,California,336265,9347,177237,0,1,0,1,0,0,1,0,6
2,Anchorage,Alaska,291826,16226,192498,1,1,0,0,1,0,0,0,3
3,Arlington,Texas,365438,68792,215588,1,1,0,0,1,1,0,1,3
4,Atlanta,Georgia,420003,226894,161115,0,1,1,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Tucson,Arizona,520116,26000,362649,0,1,0,0,1,1,0,0,6
86,Tulsa,Oklahoma,391906,62164,245309,0,1,1,1,0,0,0,0,3
87,Virginia Beach,Virginia,437994,85935,296670,0,0,1,1,0,0,1,1,2
89,Wichita,Kansas,382368,43807,275080,0,1,0,1,0,0,0,1,2
90,Winston-Salem,North Carolina,229617,79598,117600,1,1,0,1,0,0,0,1,1

In [61]:
deaths = deaths_raw[deaths_raw.city.isin(cities.city)]

In [63]:
breakdown = deaths[['city', 'victim_race']]

In [ ]:
cities <- cities %>%
          mutate(all_deaths = purrr::map_dbl(city, function(i){
            if(i %in% rownames(breakdown)) return(sum(breakdown[i,]))
            0
            }),
            black_deaths = purrr::map_dbl(city, function(i){
              if(i %in% rownames(breakdown)) return(breakdown[i,'Black'])
              0
            }),
            row=1:nrow(.),
            policy_index = purrr::map_dbl(row, function(i){
              sum(cities[i,6:13])
            }))

In [70]:
ggplot(cities) +
  geom_jitter(aes(x=policy_index, 
                  group=policy_index,
                  y=all_deaths/pop2010),
              width=0.2) +
  scale_x_continuous('number of 8 Can\'t Wait policies enacted')+
  scale_y_continuous('per capita deaths by law enforcement')+
  theme_classic() +
  guides(fill=FALSE)

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
sns.